# HDMI_test.lpc  
#   The constraints in this file were created simply to be viewed.  
#   If you wish to use these constraints, please copy them into your  
#   project's constraint file. If you do not have a project constraints  
#   file yet, please use the "Project->New Source" menu to create one.




NET "pixclk0" LOC = P17 | IOSTANDARD = LVCMOS33 | PERIOD = 100 MHz;
NET "prueba" LOC = p105 | IOSTANDARD = LVCMOS33; 
#NET led   LOC = "P12";

NET "TMDSp<0>" LOC = P119 | IOSTANDARD = TMDS_33;
NET "TMDSn<0>" LOC = P118 | IOSTANDARD = TMDS_33;

NET "TMDSp<1>" LOC = P115 | IOSTANDARD = TMDS_33;
NET "TMDSn<1>" LOC = P114 | IOSTANDARD = TMDS_33;

NET "TMDSp<2>" LOC = P112 | IOSTANDARD = TMDS_33;
NET "TMDSn<2>" LOC = P111 | IOSTANDARD = TMDS_33;

NET "TMDSp_clock" LOC = P134 | IOSTANDARD = TMDS_33;
NET "TMDSn_clock" LOC = P133 | IOSTANDARD = TMDS_33; 

PIN "prueba_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
