# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv


# for xilinx

.html
.bak
.bgn
.bit
.xwwbt
.bld
.bgn
.bit
.xwbt
.bld
.cmd_log
.drc
.gise
.ncd
.lpc
.lso
.map
.mrp
.ncd
.ngm
.xrpt
.ncd
.ngc
.ngd
.xrpt
.ngr
.pad
.csv
.txt
.par
.xrpt
.pcf
.prj
.ptwx
.stx
.xml
.syr
.twr
.twx
.xise
.xpi
.xst

