
NET "clk" LOC = P17 | IOSTANDARD = LVCMOS33 | PERIOD = 100 MHz; # EN LA TARJETA NUEVA SE CAMBIO EL CLK A P94, EQUIVALENTE A LA PAPILIO PRO
NET led   LOC = "P12";


NET "channel1_p" LOC = P51 | IOSTANDARD = LVDS_33; 
NET "channel1_n" LOC = P50 | IOSTANDARD = LVDS_33;
NET "channel2_p" LOC = P56 | IOSTANDARD = LVDS_33;
NET "channel2_n" LOC = P55 | IOSTANDARD = LVDS_33;
NET "channel3_p" LOC = P58 | IOSTANDARD = LVDS_33;
NET "channel3_n" LOC = P57 | IOSTANDARD = LVDS_33;
#CLOCK
NET "clock_p" LOC = P62 | IOSTANDARD = LVDS_33;
NET "clock_n" LOC = P61 | IOSTANDARD = LVDS_33;

NET "channel4_p" LOC = P65 | IOSTANDARD = LVDS_33;
NET "channel4_n" LOC = P64 | IOSTANDARD = LVDS_33;

#NET "clkprueba" LOC = P101;
#NET "HS" LOC = P102;
#NET "VS" LOC = P104;
#NET "DE" LOC = P105;

#PIN "clkprueba_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
