
CONFIG VCCAUX=3.3;

NET "CLK50" LOC = P17; // entrada de reloj 12 Mhz de la FPGA
NET "led"   LOC = P12; // Blink de prueba
## salidas LVDS
NET "channel1_p" LOC = P51 | IOSTANDARD = LVDS_33; 
NET "channel1_n" LOC = P50 | IOSTANDARD = LVDS_33;
NET "channel2_p" LOC = P56 | IOSTANDARD = LVDS_33;
NET "channel2_n" LOC = P55 | IOSTANDARD = LVDS_33;
NET "channel3_p" LOC = P58 | IOSTANDARD = LVDS_33;
NET "channel3_n" LOC = P57 | IOSTANDARD = LVDS_33;
NET "channel4_p" LOC = P65 | IOSTANDARD = LVDS_33;
NET "channel4_n" LOC = P64 | IOSTANDARD = LVDS_33;
#CLOCK
NET "clock_p" LOC = P62    | IOSTANDARD = LVDS_33;
NET "clock_n" LOC = P61    | IOSTANDARD = LVDS_33;


## entradas HDMI-TMDS
NET "RX_TMDSB<0>" LOC = P118 | IOSTANDARD = TMDS_33; #blue
NET "RX_TMDS<0>"  LOC = P119 | IOSTANDARD = TMDS_33;

NET "RX_TMDSB<1>" LOC = P114 | IOSTANDARD = TMDS_33;# green
NET "RX_TMDS<1>"  LOC = P115 | IOSTANDARD = TMDS_33;

NET "RX_TMDSB<2>" LOC = P111 | IOSTANDARD = TMDS_33; # red
NET "RX_TMDS<2>"  LOC = P112 | IOSTANDARD = TMDS_33;

NET "RX_TMDSB<3>" LOC = P133 | IOSTANDARD = TMDS_33; # clk
NET "RX_TMDS<3>"  LOC = P134 | IOSTANDARD = TMDS_33;

#NET "prueba" LOC = P105; // terminal de prueba de cada parametro