//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 19 10:33:22 2019
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "an<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "an<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "an<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "datW<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "datW<1>" LOCATE = SITE "B6" LEVEL 1;
COMP "datW<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "datW<3>" LOCATE = SITE "B7" LEVEL 1;
COMP "sseg<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "sseg<1>" LOCATE = SITE "H12" LEVEL 1;
COMP "sseg<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "sseg<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "sseg<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "sseg<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "sseg<6>" LOCATE = SITE "M12" LEVEL 1;
COMP "addrRa<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "addrRa<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "addrRa<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "addrRa<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "addrRb<0>" LOCATE = SITE "G3" LEVEL 1;
COMP "addrRb<1>" LOCATE = SITE "F3" LEVEL 1;
COMP "addrRb<2>" LOCATE = SITE "E2" LEVEL 1;
COMP "RegWrite" LOCATE = SITE "A7" LEVEL 1;
COMP "addrRb<3>" LOCATE = SITE "N3" LEVEL 1;
COMP "addrW<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "addrW<1>" LOCATE = SITE "A3" LEVEL 1;
COMP "addrW<2>" LOCATE = SITE "J3" LEVEL 1;
COMP "addrW<3>" LOCATE = SITE "B5" LEVEL 1;
COMP "rst" LOCATE = SITE "G12" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

